{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %} 
    <h1>Create task...</h1>
    <br/><br/>
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            <table>

                <tr>
                    <td>Title: </td>
                    <td>{{ form.title }}</td>
                </tr>
                        
                <tr>
                    <td>Description: </td>
                    <td>{{ form.description }}</td>
                </tr>

            </table>
            <button class="btn btn-primary">Post</button>
        </form>
    </div>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}     

{% else %}

    You are not logged in.

{% endif %}

{% endblock %}