{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<b>{{user}}</b>

<table>
    <tr>
    <th>Tanggal</th>
    <th>Judul</th>
    <th>Deskripsi</th>
    <th>Status</th>
    <th>Ubah Status</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in data_tasks %}
        <tr>
            <th>{{task.date}}</th>
            <th>{{task.title}}</th>
            <th>{{task.description}}</th>
            {% if task.is_finished %}
                <th style="color: green;">Selesai</th>
            {% else %}
                <th style="color: red;">Belum Selesai</th>
            {% endif %}
            <td>
                <button><a href="{% url 'todolist:update_task' task.id %}">Ubah</a></button>
                <button><a href="{% url 'todolist:delete_task' task.id %}">Hapus</a></button>
            </td>
        </tr>
    {% endfor %}
</table>
<button><a href="{% url 'todolist:add_task' %}">Tambah Task</a></button>
<br>
<button><a href="{% url 'todolist:logout_user' %}">Logout</a></button>
{% endblock content %} 