{% extends 'base.html' %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</script>
<script>
  var counter = 0;
  function createTableAjax(){
    // clear table
    var tempCount = counter;

    $.get("http://localhost:8000/todolist/json/", function(data) {
      
      // fill table
      for(var i = counter; i < data.length; i++){
        var tr = document.createElement("tr");
        // var tdUser = document.createElement("td");
        // tdUser.append(data[i].fields.user);
        var tdDate = document.createElement("td");
        tdDate.append(data[i].fields.date);
        var tdTitle = document.createElement("td");
        tdTitle.append(data[i].fields.title);
        var tdDeskripsi = document.createElement("td");
        tdDeskripsi.append(data[i].fields.description);
        var tdFinished = document.createElement("td");
        tdFinished.append(data[i].fields.is_finished);
        
        // tr.append(tdUser);
        tr.append(tdDate);
        tr.append(tdTitle);
        tr.append(tdDeskripsi);
        tr.append(tdFinished);
        
        $(".table").append(tr);
        tempCount+=1;
      }
      counter = tempCount;
    });
  }
  
  $(document).ready(function(){
    $("#getData").click(function(){
      
      createTableAjax();

    });
  });

  $(document).on('submit', '#form_add_task', function(e) {
    e.preventDefault();
    $.ajax({
      type:"POST",
      url:"{% url 'todolist:show_todolist_ajax' %}",
      data:{
        title:$("#title-task").val(),
        description:$("#description-task").val(), 
        csrfmiddlewaretoken:'{{ csrf_token }}',
      },
      dataType: 'json',
    });
    createTableAjax();
  });

</script>
{% endblock meta %}

{% block content %}
<h5>Nama: </h5>
<p>{{nama}}</p>

<h1>To Do List:</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Task</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="form_add_task" action="">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title-task">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description-task"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post!</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<button><a href="{% url 'todolist:create-task' %}">Create Task</a></button><br/><br/>

<table class="table"> 
    <tr>
        <!-- <th>User</th> -->
        <th>Tanggal</th>
        <th>Judul</th>
        <th>Deskripsi</th>
        <th>Selesai</th>
    </tr>
    
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<button id="getData">Get Data</button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>



{% endblock content %}